@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

::selection {
  background-color: #EC1C24;
  color: white;
}

body {
  overflow-x: hidden;
}
